body {
    background-color: gray;
}

h1 {
    color: pink;
    background-color: royalblue;
}

h2 {
    text-align: center;   
}

button {
    color: lightblue;
}

img {
    height: 500px;
    border-radius: 30px;
}

h3 {
    background-color: pink;
}